<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <title>Add New Show</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col-8 row">
          
            <h1 class="col-10 py-3">Add a New Show</h1>
          
            <div class="col py-3">
              <a class="" href="/allShows">Go Back</a>
            </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row py-3">
        <div class="col">
        </div>
        <div class="col-8">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"">
            </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row py-3">
        <div class="col">
        </div>
        <div class="col-4 form-group">
          <label for="exampleInputEmail1">Network</label> <br>
          <input type="text" class="form-group" placeholder="">
        </div>
        <div class="col-4">
          <label for="exampleInputEmail1">Release Date</label><br>
          <section class="row">
            <input type="date" class="col form-group" placeholder="">
            <img style="width: 40px" class="" src="{% static '/images/calendar_icon.jpg' %}" alt="">
          </section>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row py-3">
        <div class="col">
        </div>
        <div class="col-8">
          
            <div class="form-group">
              <label for="exampleInputEmail1">Description</label>
              <input type="textarea" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"">
            </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row py-3">
        <div class="col">
        </div>
        <div class="col-8">
            <a href=""></a>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    
    
    
    
  </body>
  </html>
  