<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <title>Login</title>
  </head>
  <style>
    * {
      border: 1px purple solid;
    }
  </style>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-5"> <!--col 1-->
          <h1>Registration</h1>
        </div>
        <div class="col-2"><a href="/">Home</a></div>
        <div class="col-5"><!--col 2-->
          <h1>Login</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-5"> <!--col 1 Form begins--> 
          <div class="row">
            <form class="row" action="create_user" method="POST">
              {% csrf_token %}
              <div class="col-5">
                <label class="mb-2" for="form_first_name">First Name </label><br>
                <label class="mb-2" for="form_last_name">Last Name </label><br>
                <label class="mb-2" for="form_email">Email </label><br>
                <label class="mb-2" for="form_birthday">Birthday </label><br>
                <label class="mb-2" for="form_password">Password </label><br>
                <label class="mb-2" for="form_confirm_pw">Confirm PW </label><br>
                
              </div>
              <div class="col-7">
                <input style="width: 7em;" class="mb-2" type="text" name="form_first_name" id="">
                <br>
                <input class="mb-2" type="text" name="form_last_name" id="">
                <br>
                <input class="mb-2" type="text" name="form_email" id="">
                <input class="mb-2" type="date" name="form_birthday" id="">
                <br>
                <input class="mb-2" type="text" name="form_password" id="">
                <br>
                <input class="mb-2" type="text" name="form_confirm_pw" id="">
              </div> 
              <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
            </form>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-5"><!--col 2 Login Form-->
          <div class="row">
            <form class="row" action="/login/" method="POST">
              {% csrf_token %}
              <div class="col-5">
                <label class="mb-2" for="login_email">Email</label><br>
                <label class="mb-2" for="login_password">Password</label><br>
              </div>
              <div class="col-7">
                <input style="width: 7em;" class="mb-2" type="text" name="login_email" id="">
                <br>
                <input class="mb-2" type="text" name="login_password" id="">
      
              </div> 
              <button class="btn btn-primary btn-lg btn-block" type="submit">login</button>
            </form>
          </div>
        </div>
      </div>
      <!-- error message row -->
        <div class="row">  
          <div class="col-8 mx-auto">
            {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                  </ul>
            {% endif %}
          </div>
        </div>
      </div>
       
    
    
    
    
  </body>
  </html>
  