node_modules/
README.md
package-lock.json
package.json
**/public/favicon.ico
**/public/logo192.png
**/public/logo512.png
**/public/manifest.json
**/public/robots.txt
**/src/App.test.js
**/src/logo.svg
**/src/setupTests.js