* {
    outline: solid 2px purple;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  height: 300px;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

.ordfirst {
  order: 1;
}

.ordsec {
  order: 2;
}

body {
  font-family: 'Exo';
  font-family: 'Raleway';
  font-family: 'Kanit';
  font-weight: 600;
}

.navbar {
  background-color: rgb(6, 243, 108);
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  width: auto;
  right: 0;
  left: 0;
  z-index: 1030;
}


  .navitem
  {
      margin: 0px 35px;
  }

.emCentered {
  display: flex;
  font-size: 90px;
  font-weight: 600;
  justify-content: center;
  color: #f35626;  /*color animation start*/
  background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
}

#titlechris{
  animation-duration: .5s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
}

#titleholley {
  animation-duration: .5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}





.splash {
    display: flex;
    justify-content: center;
}    

    img .splashimg{
        height: 200px;
    }

.projboxR {
  display: flex;
  justify-content: flex-end;
}

.projboxL {
  display: flex;
  justify-content: flex-start;
}


/* nav bar exp */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.menu-area li a {
  text-decoration: none;
}

.menu-area li {
  list-style-type: none;
}

.custom-padding{
  padding-top: 10px;
}

nav {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 0;
  background: #333;
  z-index: 1;
  text-align: right;
  padding-right: 2%;
}

.logo {
  width: 15%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-align: left;
  padding-left: 2%;
}

.menu-area li {
  display: inline-block;
}

.menu-area a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
.menu-area a:hover {
  background: tomato;
  color: #fff;
}

/* .menu-area a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
} */

.navbar:before {
  position: absolute;
  content: '';
  border-top: 10px solid rgb(6, 243, 108);
  border-right: 10px solid rgb(6, 243, 108);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

.navbar:after {
  position: absolute;
  content: '';
  border-top: 10px solid rgb(6, 243, 108);
  border-left: 10px solid rgb(6, 243, 108);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}


