<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ME</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactMe">Contact Me</a>
                </li>
            </ul>
        </div>
    </nav>
    <H1>About Me</H1>
    <div class="row">
        <div class="col-3">
            <img src="~/img/profile.png" alt="">
            <p>
          @{ DateTime CurrentTime = DateTime.Now; }  
        <div>
            <p>The current time and date:</p> 
        </div>
        <div> 
            <p>Date: @CurrentTime.ToString("MMM d, yyy") </p>
            <p>Time: @CurrentTime.ToString("h:mm tt") </p>
        </div>
            </p>
        </div>
        <div class="col-3"></div>
        <div class="col-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ipsum! Quod alias natus ut quibusdam quae nisi et totam laudantium cum molestiae? Quam laboriosam iste quos eos deleniti repellat, alias odit. Corporis debitis aspernatur pariatur alias nesciunt laudantium quae eius, sunt laborum a ipsam fugiat explicabo perspiciatis quisquam vero quam consectetur. Ut neque sunt dolores illum recusandae esse, eaque provident itaque beatae asperiores ullam blanditiis odio pariatur, harum quos ipsam voluptatum? Sed quaerat, repudiandae quas deserunt officia natus ut ipsum odio ullam laudantium, in id molestias temporibus nisi debitis enim recusandae neque rem ad voluptatum doloribus nihil delectus? Fugit quas eaque omnis itaque accusantium, dolor, ducimus porro, neque numquam dolorem dignissimos! Harum quis assumenda exercitationem quia ut optio culpa, dolorem, odit amet placeat fugit doloribus libero ullam vero ratione ab labore? Quis deserunt necessitatibus odit culpa. Eaque repellendus eius natus. Ad voluptates placeat tempore, dignissimos nulla quae ipsum veritatis temporibus officia dolor soluta nam molestiae quis assumenda quos accusantium veniam cupiditate. Voluptatem impedit, ullam vel unde est quaerat, aspernatur autem harum nostrum nam distinctio. Maxime ad voluptatum praesentium et ipsam quibusdam eligendi fugiat optio! Debitis a pariatur dicta quos, animi harum fugit, alias mollitia porro voluptatum deserunt similique labore cumque.
            </p>
        </div>
    </div>
    
</body>
</html>