<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
              <strong>Books
              </strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
  
      <main role="main">
 
        <hr class="mb-4">
      <div class="container album py-5 bg-light">
        <div class="col-md-4">
          <h4 class="mb-3" id='buy'>Add a Book</h4>
        <form action="/addBook" method="POST">
          <label for="bookTitle">Title</label>
          <br>
          <input type="text" name="bookTitle" id="">
          <br>
          <label for="bookDesc">Description</label>
          <br>
          <textarea name="bookDesc" id="" cols="30" rows="10"></textarea>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Add book</button>
        </form>
      </div>

      <div class="col-md-4">
        <h4 class="mb-3" id='buy'>Add a Book</h4>
      <form action="/addBook" method="POST">
        <label for="bookTitle">Title</label>
        <br>
        <input type="text" name="bookTitle" id="">
        <br>
        <label for="bookDesc">Description</label>
        <br>
        <textarea name="bookDesc" id="" cols="30" rows="10"></textarea>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add book</button>
      </form>
    </div>
      </div>
<div class="container">
      <h4 class="mb-3" id='info'>Add a Dojo</h4>
      <form action="add_dojo" method="POST">
        {% csrf_token %}
      <div class="row">
        
          <div class="col-md-6 mb-3">
              <label for="dojo_name">Dojo Name</label>
              <input type="text" class="form-control" name="dojo_name" placeholder="Rad Dojo" value="">
          </div>
          <div class="col-md-6 mb-3">
              <label for="dojo_city">City</label>
              <input type="text" class="form-control" name="dojo_city" placeholder="Pleasantville" value="">
          </div>
          <div class="col-md-6 mb-3">
              <label for="dojo_state">State</label>
              <input type="text" class="form-control" name="dojo_state" placeholder="Arkansas" value="">
          </div>
      </div>

      <div class="mb-3">
          <label for="dojo_desc">Description<span class="text-muted"></span></label>
          <input type="text" class="form-control" name="dojo_desc" placeholder="best dojo there ever was">
      </div>
    
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Add Dojo</button>
    </div>
  </form>
        <hr class="mb-4">
        <div class="album py-5 bg-light">
          <div class="container">
            
                <h4 class="mb-3" id='buy'>All The Users</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Dojo</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                      {% for ninja in Ninja %}
                    <tr>
                        <td>{{ ninja.id }}
                        </td>
                        <td>
                           {{ ninja.first_name}}
                        </td>
                        <td>
                           {{ ninja.dojo.name }}
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                      {% endfor %}
                    </tbody>
                </table>
  
                <h4 class="mb-3" id='info'>Add a User</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" name="first_name" placeholder="" value="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="" value="">
                    </div>
                </div>
  
                <div class="mb-3">
                    <label for="email">Your Student ID <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" name="student_id" placeholder="123-456-7890">
                </div>
              
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add User</button>
            

            
          </div>
        </div>
  
      </main>
      
</body>
</html>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for dojo in Dojos %}
    <tr>
      <td>{{ dojo.name }}</td>
      <td>{{ dojo.city }}</td>
      <td>{{ dojo.state }}</td>
      <td>{{ dojo.desc }}</td>
    </tr>

    {% endfor %}
  </tbody>
  </thead>
</table>  