<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ thisBook.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-">
                <h1>{{thisBook.title}}</h1><br>
                <h3>ID: {{thisBook.id}}</h3><br>
                <p>Description: {{thisBook.desc}}</p><br>
                {{thisBook.Authors.first_name}}
            </div>
        </div>
        <div class="row">
            Authors:
            <ul>
            {% for author in bookAuthors %}
                <li>{{thisBook.Authors}}</li>
                {{thisBook.author}}
                {{thisBook.}}
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>